---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
---

<Layout title="Layout">
    <Container>
    <div class="episode">
<h1>"Chet Goes to the Doctor"</h1>
<iframe src="https://www.youtube.com/embed/jCWpdQ_m02c?si=oSF87_-hbvNizA2_" height="315" width="560" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<a href="https://www.imdb.com/title/tt34618104/"> <img src="/images/imdb.svg" alt='"Chet Goes to the Doctor" imdb'></a>
<div class="desc">
<h2>Description:</h2>
<p> Todd's roommate is a puppet, and that's probably all there is to it. </p>
</div>

<div class="creditsi">

<h2>Credits:</h2>

    <div class="creditg">
<p>Written by candice Leach<br>
Directed by Michael Losquadro</p> <br>
<h3>STARRING:</h3>
<br>
<p>Todd: Dom Cacchione<br>
Jo: Mars McInerney<br>
Chet Voice & Puppeteer: Candice Leach<br>
Doctor: Nicole Earle<br>
Psychologist: Liam Gorelin
<br><br>
Chet as Himself</p>
   
    </div><div class="credits">
    <div class="creditg">
<h3>PRODUCTION:</h3>
<br>
<p>Production Assistant: G DiPierro<br>
Production Assistant: Vivian Kelleher<br>
Production Assistant: Corinne Stanton<br>
Time Lord: Gavin DesBois<br>
Leaf Coordinator: Matthew Zipparo<br>
Audio Technician: Peter Cricchio<br>
Audio Technician: Nick Ferrara<br>
Lead Camera Operator: Michael Losquadro<br>
Camera Operator: Drew Mulligan</p>
    </div>

    <div class="creditg">
<h3>SET DESIGN:</h3>
<p><br>
Lead Prop Designer:   <br>                  
Lead Set Designer:     Michael Losquadro<br>
Lead Puppet Designer     
<br><br>
Puppet Designer: Demetria Boussios<br>
Prop Designer: Jazmin Corrujedo<br>
Prop Consultant: Nick DelBianco<br>
Prop Consultant: Ryan Wade</p>
</div>
   
    <div class="creditg">

<h3>PUPPETEERING/FX:</h3>
<br>
<p>Lead Puppeteer: Candice Leach<br>
FX Coordinator: Michael Losquadro<br>
Assistant Puppeteer: Gavin DesBois<br>
Door Coordinator: Peter Cricchio</p>
    </div>
    <div class="creditg">
<h3>POST PRODUCTION:</h3>
<br>
<p>Lead Editor: Candice Leach<br>
Color/Visual Designer: Michael Losquadro<br>
Lead Audio Designer: Mars McInerne</p>
</div></div>

<div class="creditsi">
<h3>Music</h3>
<p>The Schwegs - I Can’t Forget (Schweg at a Restaurant)<br>
Additional Music licensed from AudioHero</p>
</div>
</Container>

</Layout>

<style>
    .desc{
        display: flex;
        flex-direction:column;
        justify-self: center;
        padding: 20px;
        padding-bottom: 30px;
    }

    .creditg{
        padding: 20px
    }
    .credits{
        align-self: center;
        display: grid;
        flex-direction:column;
        justify-self: center;
        text-align: center;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:722px){
        .credits{
            grid-template-columns: repeat(1, 1fr);
        }}
    .creditsi{
         align-self: center;
        display: flex;
        flex-direction:column;
        justify-self: center;
        text-align: center;
        padding: 10px
    }
    .episode{
        align-self: center;
        display: flex;
        flex-direction:column;
        justify-self: center;
        place-self:center;
        justify-content: center;
        place-content: center;
        flex-wrap:wrap;
    }

    .episode img{
        max-width: 64px;
        padding-top: 10px
    }

    h1{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        align-self: center
    }
    h2{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        
    }
     h3{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        align-self: center
    }
    p{
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    iframe{
       align-self: center;
       scale: 
    }

    </style>