---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
---

<Layout title="Layout">
    <div class="episode">
<h1>"Chet Goes to the Doctor"</h1>
<iframe width="1280" height="720" src="https://www.youtube.com/embed/jCWpdQ_m02c?si=oSF87_-hbvNizA2_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<a href="https://www.imdb.com/title/tt34618104/"> <img src="/images/imdb.svg" alt='"Chet Goes to the Doctor" imdb'></a>
<h2>Despcriotion</h2>
<p> 
    
<h2>Credits:</h2>

<div class="credits">

    <div class="creditg">
Written by Wyatt Leach<br>
Directed by Michael Losquadro
    </div>
    <div class="creditg">
STARRING:
<br><br>
Todd: Dom Cacchione<br>
Jo: Mars McInerney<br>
Chet Voice & Puppeteer: Wyatt Leach<br>
Doctor: Nicole Earle<br>
Psychologist: Liam Gorelin
<br><br>
Chet as Himself
    </div>
    <div class="creditg">
PRODUCTION:
<br><br>
Production Assistant: G DiPierro<br>
Production Assistant: Vivian Kelleher<br>
Production Assistant: Corinne Stanton<br>
Time Lord: Gavin DesBois<br>
Leaf Coordinator: Matthew Zipparo<br>
Audio Technician: Peter Cricchio<br>
Audio Technician: Nick Ferrara<br>
Lead Camera Operator: Michael Losquadro<br>
Camera Operator: Drew Mulligan
    </div>
    <div class="creditg">
SET DESIGN:
<br><br>
Lead Prop Designer:   <br>                  
Lead Set Designer:     Michael Losquadro<br>
    </div>
    <div class="creditg">
Lead Puppet Designer:                   
<br><br>
Puppet Designer: Demetria Boussios<br>
Prop Designer: Jazmin Corrujedo<br>
Prop Consultant: Nick DelBianco<br>
Prop Consultant: Ryan Wade
    </div>
    <div class="creditg">

PUPPETEERING/FX:
<br><br>
Lead Puppeteer: Wyatt Leach<br>
FX Coordinator: Michael Losquadro<br>
Assistant Puppeteer: Gavin DesBois<br>
Door Coordinator: Peter Cricchio
    </div>
    <div class="creditg">
POST PRODUCTION:
<br><br>
Lead Editor: Wyatt Leach<br>
Color/Visual Designer: Michael Losquadro<br>
Lead Audio Designer: Mars McInerne
    </div>
    <div class="creditg">
Music:
The Schwegs - I Can’t Forget (Schweg at a Restaurant)<br>
Additional Music licensed from AudioHero
    </div>

</div>

    </div>
</Layout>

<style>
    .episode{
        align-self: center;
        display: flex;
        flex-direction:column;
        justify-self: center
    }

    .episode img{
        max-width: 64px;
        padding-top: 10px
    }

    h1{
        align-content: center;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        align-self: center
    }
    h2{
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    p{
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
    </style>