---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
---

<Layout title="Layout">
<Container>
    <div>
<h1>"Chet Goes to the Doctor"</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jCWpdQ_m02c?si=oSF87_-hbvNizA2_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</Container>
</Layout>
