---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import Episode from "@components/Episode.astro";
import HeaderMobile from "@components/HeaderMobile.astro";
import Credit from "@components/Credit.astro";
import EpBg from "@components/EpBg.astro";
---
<Layout title='Chet Goes to the Doctor'>
<Header/>
<HeaderMobile title="Chet Goes to the Doctor"/>

<EpBg left="/images/background/bg1L.webp" right="/images/background/bg1R.webp"/>

 <Container>
    <div class="title">
<h1>"Chet Goes to the Doctor"</h1>
    </div>    
    
<Episode url="https://www.youtube.com/embed/jCWpdQ_m02c?si=Qmpl71H7zupOL5Qq"/>

<div class="imdb">
<a href="https://www.imdb.com/title/tt34618104/"> <img src="/images/imdb.svg" alt='"Chet Goes to the Doctor" imdb'></a>
</div>

<div class="episode">
<div class="desc">
<h2>Description:</h2>
<p> Todd's roommate is a puppet, and that's probably all there is to it. </p>
</div>
<div class="creditsi">

<h2>Credits:</h2>

    <div class="creditg">
<Credit role="Written by" name="Candice Leach"/>
<Credit role="Directed by" name="Michael Losquadro"/>
<br>
<h3>STARRING:</h3>
<br>
<Credit role="Todd" name="Dom Cacchione"/>
<Credit role="Jo" name="Mars McInerney"/>
<Credit role="Chet Voice & Puppeteer" name="Candice Leach"/>
<Credit role="Doctor" name="Nicole Earle"/>
<Credit role="Psychologist" name="Liam Gorelin"/>
<br>
Chet as Himself</p>
   
    </div><div class="credits">
    <div class="creditg">
<h3>PRODUCTION:</h3>
<br>
<Credit role="Production Assistant" name="G DiPierro"/>
<Credit role="Production Assistant" name="Vivian Kelleher"/>
<Credit role="Production Assistant" name="Corinne Stanton"/>
<Credit role="Time Lord" name="Gavin DesBois"/>
<Credit role="Leaf Coordinator" name="Matthew Zipparo"/>
<Credit role="Audio Technician" name="Peter Cricchio"/>
<Credit role="Audio Technician" name="Nick Ferrara"/>
<Credit role="Lead Camera Operator" name="Michael Losquadro"/>
<Credit role="Camera Operator" name="Drew Mulligan"/>
    </div>

    <div class="creditg">
<h3>SET DESIGN:</h3>
<p><br>
<Credit role="Lead Prop Designer" name=""/>
<Credit role="Lead Set Designer" name="Michael Losquadro"/>
<Credit role="Lead Puppet Designer" name=""/>
<br><br>
<Credit role="Puppet Designer" name="Demetria Boussios"/>
<Credit role="Prop Designer" name="Jazmin Corrujedo"/>
<Credit role="Prop Consultant" name="Nick DelBianco"/>
<Credit role="Prop Consultant" name="Ryan Wade"/>
</div>
   
    <div class="creditg">

<h3>PUPPETEERING / FX:</h3>
<br>
<Credit role="Lead Puppeteer" name="Candice Leach"/>
<Credit role="FX Coordinator" name="Michael Losquadro"/>
<Credit role="Assistant Puppeteer" name="Gavin DesBois"/>
<Credit role="Door Coordinator" name="Peter Cricchio"/>
    </div>
    <div class="creditg">
<h3>POST PRODUCTION:</h3>
<br>
<Credit role="Lead Editor" name="Candice Leach"/>
<Credit role="Color/Visual Designer" name="Michael Losquadro"/>
<Credit role="Lead Audio Designer" name="Mars McInerney"/>
</div></div>

<div class="creditsi">
<h3>Music</h3>
<p>The Schwegs - I Can’t Forget (Schweg at a Restaurant)<br>
Additional Music licensed from AudioHero</p> </div>
</div>

<style>

  .title{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

.desc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    padding: 30px;
    padding-bottom: 50px;
    align-content: center;
    }

    .creditg{
        padding-top: 20px;
        padding-bottom: 20px; 
        max-width: 450px;
    }
    .credits{
        align-self: center;
        display: grid;
        flex-direction:column;
        justify-self: center;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width:722px){
        .credits{
            grid-template-columns: repeat(1, 1fr);
        }}
    .creditsi{
         align-self: center;
        display: flex;
        flex-direction:column;
        justify-self: center;
        text-align: center;
    }
    .episode{
        display: flex;
        flex-direction: column;
        place-self: center;
        place-content: center;
        flex-wrap: wrap;
    }


    .imdb{
        display: flex;
        justify-content: flex-start;
    }

    .imdb a img{
        max-width: 64px;

    }


    </style>

</div>
</Container>
</Layout>