---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import Episode from "@components/Episode.astro";
import HeaderMobile from "@components/HeaderMobile.astro";
import Credit from "@components/Credit.astro";
import EpBg from "@components/EpBg.astro";
---
<Layout title='Chet Goes to a Party'>
<Header/>
<HeaderMobile title="Chet Goes to a Party"/>

<EpBg left="/images/background/bg2L.webp" right="/images/background/bg2R.webp"/>

 <Container>
    <div class="title">
<h1>"Chet Goes to a Party"</h1>
    </div>    
    
<Episode url="https://www.youtube.com/embed/ppdhtzxRZzw?si=PT-ugfnf59_W256M"/>

<div class="imdb">    
<a href="https://www.imdb.com/title/tt34618104/"> <img src="/images/imdb.svg" alt='"Chet Goes to the Doctor" imdb'></a>
</div>

<div class="episode">
<div class="desc">
<h2>Description:</h2>
<p> The follow-up to Fall 2024’s “Chet Goes to the Doctor.” One could even call it, Episode 2 of “The Chet Show.” </p>
</div>
<div class="creditsi">

<h2>Credits:</h2>

    <div class="creditg">
<Credit role="Written by" name="Candice Leach"/>
<Credit role="Directed by" name="Michael Losquadro"/>
<br>
<h3>STARRING:</h3>
<br>
<Credit role="Jo" name="Mars McInerney"/>
<Credit role="Todd" name="Dom Cacchione"/>
<Credit role="Bradley" name="Peter Cricchio"/>
<Credit role="White Rabbit (Voice)" name="Liam Gorelin"/>
<Credit role="Chet (Voice)" name="Candice Leach"/>
<br>
Chet as Himself
<br><br>
<Credit role="Gas Station Employee" name="Dani Kaminon"/>
<Credit role="Becky" name="Corinne Stanton"/>
<Credit role="Girl" name="Nicole Beltre"/>
<Credit role="Acid Guy" name="Marley King"/>
<Credit role="Frat Guy 1" name="Nick Del Bianco"/>
<Credit role="Frat Guy 2" name="Nick Ferrara"/>
<Credit role="The Director" name="Michael Losquadro"/>
<Credit role="Boom Operator" name="Candice Leach"/>
   
    </div><div class="credits">
    <div class="creditg">
<h3>PRODUCTION:</h3>
<br>
<Credit role="Executive Producer" name="Michael Losquadro"/>
<Credit role="Executive Producer" name="Mars McInerney"/>
<Credit role="Executive Producer" name="Candice Leach"/>
<Credit role="Production Supervisor" name="Mars McInerney"/>
<br>
<Credit role="Lead Camera Operator" name="Michael Losquadro"/>
<Credit role="Camera Operator" name="Candice Leach"/>
    </div>

    <div class="creditg">
<h3>PRODUCTION ASSISTANTS:</h3>
<br>
<Credit role="#1 Slatist in America" name="Corinne Stanton"/>
<Credit role="Production Assistant" name="Vivian Kelleher"/>
<Credit role="Production Assistant" name="Krystal McAdams"/>
<Credit role="Production Assistant" name="Declan Caulfield"/>
<Credit role="Production Assistant" name="Tim Borland"/>
<Credit role="Production Assistant" name="G DiPierro"/>
<Credit role="Production Assistant" name="Lena Beck"/>
<Credit role="Production Assistant" name="Liam Behan"/>
</div>
    <div class="creditg">

<h3>PUPPETEERING / SPECIAL FX:</h3>
<br>
<Credit role="Lead Puppeteer" name="Candice Leach"/>
<Credit role="FX Coordinator" name="Michael Losquadro"/>
<br>
<p>Additional Puppeteers:<br>
Michael Losquadro<br>
Dom Cacchione</p>
    </div>
    <div class="creditg">
<h3>AUDIO:</h3>
<br>
<Credit role="Lead Audio Engineer" name="Mars McInerney"/>
<br>
<Credit role="Boom Operator" name="Mars McInerney"/>
<Credit role="Boom Operator" name="Vivian Kelleher"/>
<Credit role="Boom Operator" name="Tim Borland"/>
<Credit role="Boom Operator" name="Peter Cricchio"/>
<br>
<Credit role="EQ Consultant" name="Lena Beck"/>
</div>

 <div class="creditg">
<h3>GARFIELD(s):</h3>
<br>
<Credit role="Giant Inflatable Garfield" name="Vivian Kelleher"/>
<Credit role="Giant Inflatable Garfield" name="Tim Borland"/>
<Credit role="Giant Inflatable Garfield" name="G DiPierro"/>
<Credit role="Giant Inflatable Garfield" name="Rowan Davidson"/>
<br>
<Credit role="Garfield Shirt Wearer" name="Nicole Beltre"/>
<br>
<Credit role="Inflatable Garfield Consultant" name="Michael Losquadro"/>
</div>
    <div class="creditg">

<h3>PARTY EXTRAS:</h3>
<br>
<p>
Stella LaFollette<br>
Lena Beck<br>
Krystal McAdams<br>
Kim Friedlander<br>
Cotye Allen<br>
Samantha Cooper<br>
Vivian Kelleher<br>
Jeremiah McKinney<br>
Vivian Kelleher<br>
Tim Borland<br>
Corinne Stanton<br>
Jacob Samson<br>
Gavin DeBois<br>
G DiPierro<br>
Johnel Quigley<br>
Liam Behan<br>
</p>
    </div>

    <div class="creditg">

<h3>POST PRODUCTION:</h3>
<br>
<Credit role="Lead Editor" name="Candice Leach"/>
<Credit role="Color/Visual Designer" name="Michael Losquadro"/>
<Credit role="Lead Audio Designer" name="Mars McInerney"/>
    </div>

    <div class="creditg">

<h3>MUSIC:</h3>
<p><br>
Kazoo Intro: Michael Losquadro, Candice Leach,
Tim Borland, Dom Cacchione, Mars McInerney<br>
<br>
Chet Show Theme Remix: Candice Leach<br>
<br>
Ave Maria Cover: Sunday 7pm Choir<br> 
<br>
Additional Music licensed from AudioHero
</p>
    </div>

</div>

<div class="creditsi">
<h3>SPECIAL THANKS:</h3>
<p>Speedway<br>
Dan Labbato<br>
Dom’s Roommates<br>
Full Moon Farms</p> </div>
</div>

<style>

    .title{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .desc{        
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    padding: 30px;
    padding-bottom: 50px;
    align-content: center;
}

    .creditg{
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 450px;
    }
    .credits{
        align-self: center;
        display: grid;
        flex-direction:column;
        justify-self: center;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width:722px){
        .credits{
            grid-template-columns: repeat(1, 1fr);
        }}
    .creditsi{
         align-self: center;
        display: flex;
        flex-direction:column;
        justify-self: center;
        text-align: center;
    }
    .episode{
        display: flex;
        flex-direction: column;
        place-self: center;
        place-content: center;
        flex-wrap: wrap;
    }

    .imdb{
        display: flex;
        justify-content: flex-start;
    }

    .imdb a img{
        max-width: 64px;
    }


    </style>

</div>
</Container>
</Layout>