---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import ContainerW from "@components/ContainerW.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import Episode from "@components/Episode.astro";
import HeaderMobile from "@components/HeaderMobile.astro";
import Credit from "@components/Credit.astro";
import EpBg from "@components/EpBg.astro";
import HeadTitle from "@components/HeadTitle.astro";
import Footer from "@components/Footer.astro";
---
<Layout title='Chet Falls in Love'>
<Header/>
<HeaderMobile title='"Chet Falls in Love"'/>

<EpBg left="/images/background/bg3L.webp" right="/images/background/bg3R.webp"/>

 <ContainerW>
    <HeadTitle title='"Chet Falls in Love"'/>
    
<Episode url="https://www.youtube.com/embed/smXfQCgZOVM?si=kYCdc7sh69NZehup"/>

<div class="imdb">    
<a href="https://www.imdb.com/title/tt42206994/"> <img src="/images/imdb.svg" alt='"Chet Falls in Love" imdb'></a>
</div>

<div class="episode">
<div class="desc">
<h2>Description:</h2>
<p>"Chet Falls in Love" is the third episode of "The Chet Show."</p></div>
<div class="creditsi">

<h2>Credits:</h2>

    <div class="creditg">
    <Credit role="Written by" name="Candice Leach"/>
    <Credit role="Directed by" name="Michael Losquadro"/>
    <br>
<h3>STARRING:</h3>
<br>
<Credit role="Todd" name="Dom Cacchione"/>
<Credit role="Jo" name="Mars McInerney"/>
<Credit role="Chet Voice / Puppeteer" name="Candice Leach"/>
<Credit role="Bradley" name="Peter Cricchio"/> 
<Credit role="Sockina" name="Andrew Sosa"/>
<Credit role="Sockina Body" name="G DiPierro"/>
<Credit role="King Puppet" name="Declan Caulfield"/>
<Credit role="Becky" name="Corinne Stanton"/>
<Credit role="Puppet Show Audience" name="Tim Borland"/>
<Credit role="Puppet Show Audience" name="Corrine Stanton"/>
<Credit role="Bartender" name="Hick Renadette"/>
<Credit role="Bar Girl" name="Christina Beattie"/>
<Credit role="The Psychologist" name="Liam Gorelin"/>
<br>
<p></p>
Chet as Himself
</p>
   
    </div><div class="credits">
    <div class="creditg">
<h3>PRODUCTION:</h3>
<br>
<Credit role="Executive Producer" name="Michael Losquadro"/>
<Credit role="Executive Producer" name="Candice Leach"/>
<Credit role="Executive Producer" name="Mars McInerney"/>
<br>
<Credit role="1st Assistant Director" name="Candice Leach"/>
<Credit role="2nd Assistant Director" name="Declan Caulfield"/>
<br>
<Credit role="Director of Photography" name="Michael Losquadro"/>
<Credit role="Lead Camera Operator" name="Michael Losquadro"/>
<Credit role="Assistant Camera Operator" name="Candice Leach"/>
<br>
<Credit role="Slatist" name="Corrine Stanton"/>
<Credit role="Boom Operator" name="Celia Buxton"/>
<Credit role="Boom Operator" name="Evan Schack"/>
<br>
<Credit role="Transportation" name="Corinne Stanton"/>
<Credit role="Transportation" name="Stella LaFollette"/>
<Credit role="Transportation" name="Mars McInerney"/>
    </div>

    <div class="creditg">
<h3>PRODUCTION ASSISTANTS:</h3>
<br>
<Credit role="Production Assistant" name="Andrew Sosa"/>
<Credit role="Production Assistant" name="Corrine Stanton"/>
<Credit role="Production Assistant" name="Celia Buxton"/>
<Credit role="Production Assistant" name="Evan Schack"/>
<Credit role="Production Assistant" name="Stella Lafollette"/>
<Credit role="Production Assistant" name="Krystal McAdams"/>
<Credit role="Production Assistant" name="Vivian Kelleher"/>
<Credit role="Production Assistant" name="Lena Beck"/>
<Credit role="Production Assistant" name="Tim Borland"/>
<Credit role="Production Assistant" name="Red Permaul"/>
<Credit role="Production Assistant" name="Katie Solis"/>
</div>
    <div class="creditg">

<h3>PUPPETEERING / SPECIAL FX:</h3>
<br>
<Credit role="Lead Puppeteer" name="Candice Leach"/>
<Credit role="Sockina Puppeteer" name="Andrew Sosa"/>
<Credit role="Additional Puppeteer" name="Michael Losquadro"/>
<Credit role="FX Coordinator" name="Michael Losquadro"/>
    </div>
    <div class="creditg">
<h3>DESIGN:</h3>
<br>
<Credit role="Lead Prop Designer" name=""/>
<Credit role="Lead Set Designer" name="Michael Losquadro"/>
<Credit role="Lead Puppet Designer" name=""/>
<br>
<Credit role="Puppet Designer" name="Demetria Boussios"/>
<Credit role="Puppet Designer" name="Samantha Cooper"/>
<Credit role="Prop Designer" name="Jazmin Corrujedo"/>
<Credit role="Title Card Illustrator" name="Cotye Allen"/>
</div>

 <div class="creditg">
<h3>EDITING:</h3>
<br>
<Credit role="Lead Editor" name="Candice Leach"/>
<Credit role="Colorist/Visual Designer" name="Michael Losquadro"/>
<Credit role="Sound Designer/Audio Mix" name="Mars McInerney"/>
</div>
    <div class="creditg">

<h3>MARKETING:</h3>
<br>
<Credit role="Social Media Manager" name="Krystal McAdams"/>
<Credit role="Promotional Manager" name="Michael Losquadro"/>
<Credit role="Poster Designer" name="Michael Losquadro"/>
    </div>

    <div class="creditg">

<h3>MUSIC:</h3>
<br>
<p>
The Schwegs - I Can’t Forget (Schweg at a Restaurant)[Demo]<br><br>
Cenote - Kriegsjahr<br><br>
All additional music licensed from AudioHero
</p>
    </div>

    <div class="creditg">

<h3>SPECIAL THANKS:</h3>
<p><br>
Snug Harbor<br>
Full Moon Farms
    </div>

</div>


</div>
</ContainerW>

<Footer/>

</Layout>

<style>

    .title{
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    .desc{        
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-self: center;
    padding: 30px;
    padding-bottom: 50px;
    align-content: center;
}

    .creditg{
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: 450px;
    }
    .credits{
        align-self: center;
        display: grid;
        flex-direction:column;
        justify-self: center;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width:722px){
        .credits{
            grid-template-columns: repeat(1, 1fr);
        }}
    .creditsi{
         align-self: center;
        display: flex;
        flex-direction:column;
        justify-self: center;
        text-align: center;
    }
    .episode{
        display: flex;
        flex-direction: column;
        place-self: center;
        place-content: center;
        flex-wrap: wrap;
        padding-bottom: 150px;
    }

    .imdb{
        display: flex;
        justify-content: flex-start;
    }

    .imdb a img{
        max-width: 64px;
    }


    </style>