---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro"
import HeaderMobile from "@components/HeaderMobile.astro";
---

<Layout title="Chet Home">

  <Header/>
  <HeaderMobile/>

  <Container>
      <div class="herovid">
        <img src="/images/Screenshot 2025-09-04 at 5.13.12 PM.png" alt="Hero Video">
        <img src="/images/chet show logo.png">
  </div>


    <section class="body">

      <div class="whatis">
        <h1>"What is The Chet Show?"</h1>
      <div class="whatisbody">
        <p>“The Chet Show” is a short film series created by Michael Losquadro and Candice Leach. The series follows Chet, a puppet-college student living alongside his roommate and good friend Todd. The series had an active 2 year production cycle with 3 episodes produced: “Chet Goes to the Doctor”, “Chet Goes to a Party” and “Chet Falls in Love”.</p>
      </div>

<br>

<!-- <h1>"Meet The Creators"</h1>

      <div class="creators">

      <div class = "person">
      <h2>Michael Losquadro</h2>
      <img src="/public/images/chet show logo.png">
      <text>Director</text>
      </div>
    
      <div class = "person">
      <h2>Candice Leach</h2>
      <img src="/public/images/chet show logo.png">
      <text>Writer/Lead Puppeteer</text>
      </div>

      <div class = "person">
      <h2>Mars MacInerny</h2>
      <img src="/public/images/chet show logo.png">
      <text>Jo/Lead Audio Engeneer</text>
      </div>

      <div class = "person">
      <h2>Dom Cacchione</h2>
      <img src="/public/images/chet show logo.png">
      <text>Todd</text>
      </div>

    </div> -->

<br>

<h1>Why the ChetSite?</h1>
    <div class="whatisbody">
<p>While working on this project a lot of problems arose that needed a specific skill set, one that was heavily geared towards the mindset of a designer. How problems were handled, how time was managed, and even more specified things such as prop production, storyboarding and color theory were improved from a designer’s perspective. This project provides documentation on the pre-production, production and post production. 
This website is not only built to show off that perspective, but also to highlight all the other aspects that made this project such an important memory for all involved. This site’s primary purpose is documentation and appreciation for the project and all involved.
</p>
    </div>


      </div>
    </section>

  </Container>
</Layout>

<style>
.whatisbody p{
  text-indent: 40px;
}

.whatis{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatisbody{
  max-width:800px;
  display: flex;
  justify-content: center;
}
  .hero{
    width: 10vw;
    height: 10vh;
    object-fit: cover;
  }

  .logo {
    justify-content: center;
    justify-self: center;
    display: flex;
    position:relative;
    align-content:center;
    flex-wrap: wrap;
    scale: 750px;    
    margin-top: -5%;
  }

.logo{
    flex-wrap: wrap;
    display: grid;
    position:absolute;
}

  .herovid{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding-top: 50vh;
  }

  .herovid img{ 
    display: flex;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    width: 100vw;
    justify-content: center;    
  }

  .herovid img[src="/images/Screenshot 2025-09-04 at 5.13.12 PM.png"]{
    height: 110vh
  }
  
  .herovid img[src="/images/chet show logo.png"]{
    width: 900px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
  }
  @media (max-height: 400px){
     .herovid img[src="/images/chet show logo.png"]{
      scale: 25%
  }}
   @media (max-height: 200px){
     .herovid img[src="/images/chet show logo.png"]{
      scale: 5%
  }}



.body{
  padding-top: 62vh;
  padding-bottom: 50px
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align:center;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
text {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
body {
  background-color: black;
}

.person{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px
}

.creators{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}


</style>