---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
---

<Layout title="Home">
  <Container>
      <div class="herovid">
        <img src="Screenshot 2025-09-04 at 5.13.12 PM.png" alt="Hero Video">
        <img src="chet show logo.png">
  </div>


    <section class="body">

      <div class="whatis">
        <h1>"What is The Chet Show?"</h1>
      <div class="whatisbody">
        <text>  &ensp;  “The Chet Show” is a short film series created by Michael Losquadro and Candice Leach. The series follows Chet, a puppet-college student living alongside his roommate and good friend Todd, as he is forced to come to terms with his own identity and what it means for him to be a puppet.
                <br> &ensp; The series had an active 2 year production cycle with 4 episodes being produced: “Chet Goes to the Doctor”, “Chet Goes to a Party”, “Chet Falls in Love” and “The Chet Show”.
        </text>
      </div>

<br>

<h1>"Meet The Creators"</h1>

      <div class="creators">

      <div class = "person">
      <h2>Michael Losquadro</h2>
      <img src="chet show logo.png">
      <text>Director</text>
      </div>
    
      <div class = "person">
      <h2>Candice Leach</h2>
      <img src="chet show logo.png">
      <text>Writer/Lead Puppeteer</text>
      </div>

      <div class = "person">
      <h2>Mars MacInerny</h2>
      <img src="chet show logo.png">
      <text>Jo/Lead Audio Engeneer</text>
      </div>

      <div class = "person">
      <h2>Dom Cacchione</h2>
      <img src="chet show logo.png">
      <text>Todd</text>
      </div>

    </div>

<br>

<h1>Design in Film: Creating the Chet Show</h1>
    <div class="design">
<text>While working on this project I realized that my skills as a Designer were what were vital to keeping the production going for an elongated period of time. How situations were handled, how time was managed and even more specified things such as props, storyboarding and color theory all coming together to make the transition from one media to another very seamless.
I wanted to use this website as a chance to document the process behind the production. As well as be a way for anybody to learn about production through the perspective of a designer.
</text>
    </div>


      </div>
    </section>

  </Container>
</Layout>

<style>

  .hero{
    width: 10vw;
    height: 10vh;
    object-fit: cover;
  }

  .logo {
    justify-content: center;
    justify-self: center;
    display: flex;
    position:relative;
    align-content:center;
    flex-wrap: wrap;
    scale: 50%;    
    margin-top: -5%;
  }

.logo{
    flex-wrap: wrap;
    display: grid;
    position:absolute;
}

  .herovid{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding-top: 50vh;
  }

  .herovid img{ 
    position: absolute;
    left:0;
    object-fit: cover;
    width: 100vw;
    justify-content: center;
    
  }

  .herovid img[src="Screenshot 2025-09-04 at 5.13.12 PM.png"]{
    height: 100vh
  }
  
  .herovid img[src="chet show logo.png"]{
scale: 50%; }
  @media (max-height: 400px){
     .herovid img[src="chet show logo.png"]{
      scale: 25%
  }}
   @media (max-height: 200px){
     .herovid img[src="chet show logo.png"]{
      scale: 5%
  }}



.body{
  padding-top: 52vh;
  padding-bottom: 50px
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  text-align:center;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
text {
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
body {
  background-color: black;
}

.person{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px
}

.creators{
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}


</style>