---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
---

<Layout title="Chet Home">

  <Header/>

  <Container>
<div class="JoContain">
    <h1>Jo's Blog</h1>
    <div class="JoBlog">
        <p>jos blog...</p>
    </div>


</div> 
</Container>

<style>
    body{
        background-color: pink;
    }
    .JoContain{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: purple;
        margin-top: 60px
    }
</style>