---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import HeaderMobile from "@components/HeaderMobile.astro";
import Footer from "@components/Footer3.astro";
---

<Layout title="Jo's Blog">

  <Header/>
    <HeaderMobile title="Jo's Blog"/>

  <Container>
<div class="JoContain">
    <div class="JoBlog">

    <img src="/images/geogif.gif"/>
            <div class="JoBlogInner">
        <h1><img src="/images/jobloglogo.webp" alt="Cool Wallpapers'"/></h1>
        <h2>Welcome to Jo's Blog!</h2>
        <p>whatsup chucklenuts!!! im Jo, ur fav character, and this is my blogsite. DONT tell the admins i put this page here. i havent been paying for a web host for like six months and nobody has caught me yet. 
<br> <br>
anyway, here ur gonna find all my awesome stories, a couple wallpapers, some pics of some guys IDK, and the guestbook.
</p><br>
<p style="font-size: 12px;">naw just kidding. remember guestbooks? i dont i was born after airports got really hard xD </p>
            </div>
    <img src="/images/geogif.gif"/>

    </div>
<div class="buttons">
<h3><button class="blogbutton"><a href="/jos-blog/crewstories"><img src="/images/crewstories.png" alt="Crew Stories"/></a></button></h3>
<h3><button class="blogbutton"><a href="/jos-blog/coolwallpapers"><img src="/images/coolwallpapers.gif" alt="Cool Wallpapers"/></a></button></h3>
</div>
</div> 
</Container>

<Footer/>
</Layout>
<style>
    .buttons{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        }
    .buttons button{
        border: 5px outset #d5d5d5;
        background-color: #d5d5d5;
        width:300px;
        height:70px;
        padding: 0px;
    }
    .buttons button img{
        object-fit: cover;
    }
     .buttons button:hover{
         -webkit-filter: brightness(60%);
}
    body{
        background-image: url("/images/JoStar.webp");
        background-repeat: repeat;
        background-color: rgb(40, 0, 53);
    }

    .JoContain{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 0, 0, .2);
        margin-top: 60px;}

    .JoBlog{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        padding: 20px;
        border: 15px solid #ff00b4;
        border-style: ridge;
        width: 100%;
        
    }
    .JoBlogInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .JoBlogInner img{
        max-width:400px;
    }

    .JoBlog > img[src="/images/geogif.gif"]{
        position: absolute;
        margin-top: -250px;
    }

    .JoBlog > img[src="/images/geogif.gif"]:first-of-type {
        margin-right: 500px;
        margin-left: 0;
    }

    .JoBlog > img[src="/images/geogif.gif"]:last-of-type {
        margin-left: 580px;
        margin-right: 0;
    }
    
    @media (max-width: 900px) {
        .JoBlog img[src="/images/geogif.gif"]{
        display: none;
    }
}
    @media (max-width: 768px) {
        :global(.container) > .JoContain {
            max-width: none;
            width: 100vw;
            margin-top: 10px;
        }

        .buttons {
            gap: 10px;
        }

        .JoBlogInner img[src="/images/jobloglogo.webp"] {
            padding-top: 60px;
        }
    }

    @media (max-width: 628px) {
        .JoBlog {
            box-sizing: border-box;
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 20px 10px;
        }
    }
 @media (max-width: 460px) {
        .JoBlog img{
        width: 100%;
    } }
    h1, h2, h3, p{
        color: #ffade6;
        font-family: "Comic Sans MS", sans-serif;}
</style>