---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import HeaderMobile from "@components/HeaderMobile.astro";
import Wallpaper from "@components/Wallpaper.astro";
---

<Layout title="Cool Wallpapers">

  <Header/>
  <HeaderMobile/>

  <Container>
<div class="JoContain">
    <div class="JoBlog">
        <div class="JoBlogIntro">
    <img src="/images/geogif.gif"/>
            <div class="JoBlogInner">
        <h1><img src="/images/jobloglogo.webp" alt="Cool Wallpapers'"/></h1>
        <h2>Cool Wallpapers!</h2>
        </div>
    <img src="/images/geogif.gif"/>
    </div>
    
    <div class="buttons">
                <h3><button class="blogbutton"><a href="/jos-blog"><img src="/images/johome.webp" alt="Home"/></a></button></h3>
                <h3><button class="blogbutton"><a href="/jos-blog/crewstories"><img src="/images/crewstories.png" alt="Crew Stories"/></a></button></h3>
            </div>
    <Wallpaper file="/images/wallpapers/ChetHeadWallpaper.jpg" alt="Chet Head Wallpaper, the pattern includes images of Chet's heads in rows next to one another."name="Chet Head Wallpaper" text="chet has such an iconic head"/>
    <Wallpaper file="/images/wallpapers/ToddToneWallpaper.jpg" alt="Todd's iconic green and stripes, covered in some awsome filters." name="Todd Lorem Ipsum Wallpaper" text="did you know that's actually his last name?"/>
    <Wallpaper file="/images/wallpapers/JosBlogWallpaper.jpg" alt="A wallpaper themed after the incredible look of Jo's Blog!" name="Jo's Blog Wallpaper" text="the only wallpaper that looks even a third as cool as my blog B^)"/>

</div>
</div> 
</Container>

<style>
    .buttons{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        }
    .buttons button{
        border: 5px outset #d5d5d5;
        background-color: #d5d5d5;
        width:300px;
        height:70px;
        padding: 0px;
    }
    .buttons button a{
        display: block;
        width: 100%;
        height: 100%;
    }
    .buttons button img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .buttons button img[src="/images/johome.webp"]{
        object-fit: contain;
        padding: 0;
        transform: scale(1.3);
        margin-top: 2px;
    }
    .buttons button img[src="/images/crewstories.png"]{
        object-fit: contain;
        transform: none;
    }
     .buttons button:hover{
         -webkit-filter: brightness(60%);
}
    body{
        background-image: url("/images/JoStar.webp");
        background-repeat: repeat;
        background-color: rgb(40, 0, 53);
    }

    .JoContain{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 0, 0, .2);
        margin-top: 60px;}

    .JoBlog{
        display: flex;
        flex-direction: Column;
        align-items: center;
        justify-content:center;
        padding: 20px;
        border: 15px solid #ff00b4;
        border-style: ridge;
        width: 100%;
    }

    .JoBlogIntro{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    }

    .JoBlogInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .JoBlogInner img{
        max-width:400px;
    }

    .JoBlogIntro > img[src="/images/geogif.gif"]{
        position: absolute;
        margin-top: -80px;
    }

    .JoBlogIntro > img[src="/images/geogif.gif"]:first-of-type {
        margin-right: 500px;
        margin-left: 0;
    }

    .JoBlogIntro > img[src="/images/geogif.gif"]:last-of-type {
        margin-left: 580px;
        margin-right: 0;
    }
    @media (max-width: 900px) {
        .JoBlog img[src="/images/geogif.gif"]{
        display: none
    }
}
    @media (max-width: 768px) {
        :global(.container) > .JoContain {
            max-width: none;
            width: 100vw;
            margin-top: 0;
        }

        .buttons {
            gap: 10px;
        }

        .JoBlogInner img[src="/images/jobloglogo.webp"] {
            padding-top: 60px;
        }
    }

    @media (max-width: 628px) {
        .JoBlog {
            box-sizing: border-box;
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 20px 10px;
        }
    }
 @media (max-width: 460px) {
        .JoBlog img{
        width: 100%;
    } }
    h1, h2, h3, p{
        color: #ffade6;
        font-family: "Comic Sans MS", sans-serif;}
</style>