---
const { title } = Astro.props;
---
<h1>{title}</h1>
<div class="pad"><p> </p></div>

<style>
h1{
    padding-top: 40px;
}

    @media (max-width: 700px) {
        h1 {
            display: none;
        }
        .pad {
            height: 50px; /* Adjust this value as needed to create space for the mobile header */
        }
    }
</style>