---
const { title } = Astro.props;
---
<h1>{title}</h1>
<div class="pad"><p> </p></div>

<style>
    @media (max-width: 600px) {
        h1 {
            display: none;
        }
        .pad {
            height: 70px; /* Adjust this value as needed to create space for the mobile header */
        }
    }
</style>