---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro"
import Footer from "@components/Footer2.astro";
import HeaderMobile from "@components/HeaderMobile.astro";
import HeadTitle from "@components/HeadTitle.astro";
import ChetInsta from "@components/ChetInsta.astro";
---

<Layout title="Post-Production">

  <Header/>
  <HeaderMobile title="Post-Production"/>

  <Container>

    <div class="Post-Production">

<h1 class="title">Post-Production</h1>

<p>Post-production is the longest portion of production, with this portion of the production pipeline typically running side-by-side with every 
  other portion of production. Post-production is the widest reaching part of any production and often has the most influence on the final product.</p>


<h2>Editing</h2>

<p>As the scale of “The Chet Show” increased from “Chet Goes to the Doctor” in 2024 to “Chet Falls in Love” in late 2025, Candice, as the lead editor, 
	had to learn a lot about editing. All three episodes were edited under Hawk Studios’ Adobe Suite license, mainly in Premiere.</p>

<p>Candice had used Premiere for nearly a decade, but began to struggle with the size of the first episode. Over a terabyte of raw 4K files were being 
	actively loaded and edited in the same, unorganized timeline, causing crashes. Episode 2 was a few minutes longer, but more importantly, shot in 6K 
	instead of 4K. Larger raw files would have to be stored at Hawk Studios on their local server and loaded onto their computers over the network. The 
	timeline had to be organized into individual nested sequences, so only the scenes being worked on at a given time would be loaded until it was time 
	to export. This is one of many times that Candice and the rest of the ‘Chet’ crew would run into an industry-standard roadblock with their student-level 
	project, and were forced to learn the professional way to get around it.</p>

<h3>Assembly</h3>

<p>While time is usually planned for ‘Post-Production’ well in advance, most filmmaking people in charge of their own edits will put together “dailies” as 
	soon as possible after a Production day. A very rough cut, usually of a single scene or just the footage shot that day, to make sure everything fits together. 
	It’s incredibly helpful to do this early as a starting point for more fine, complicated edits later in post. An “Assembly” refers to a basic, early cut where 
	the video and audio are assembled according to the storyboard/shotlist.</p>
<img src="/images/timeline.png" alt="Screenshot of a WIP version of Chet 3 Scene 10A"/>
<h2>Audio</h2>

<p>Audio editing led by Mars McInerney is crucial to the identity of “The Chet Show”. Mars McInerney had originally joined the “The Chet Show” just to 
	co-star as Jo, but then became much more involved than expected. During the production of “Chet Goes to the Doctor”, Mars was taking a class on computer 
	and electronic music, which taught them how to make super eerie and ominous soundscapes on their laptop in Logic Pro. Mars quickly fell in love with synths 
	and sound design, and knew that “The Chet Show” would be the perfect place to showcase their skills, beyond acting of course.</p>

<h3>SFX</h3>

<p>The sound effects for “The Chet Show” were all made on Mars McInerney’s laptop in Logic Pro, a software they had only begun using the very same semester 
	they started working on “Chet Goes to the Doctor”. Nevertheless, Mars knew their amateur-level sound design would be much better than any royalty-free sound 
	effects they could find online. Many of the sounds that are heard in “Chet Goes to the Doctor” are also present in the soundscapes made for “Chet Goes to a Party” 
	and “Chet Falls in Love”, as Mars wanted to create a recurring set of sounds that could be associated with certain themes. One that comes up frequently, is of course 
	the clock ticking, which was also created on a synth. For many of the other sounds, Mars took inspiration from the unnerving sound design featured in <i>The Shining</i>, 
	as well as a strange YouTube video titled “I Feel Fantastic”.</p>

<h3>Mixing</h3>

<p>As Mars became more interested in sound design, their appreciation for good-quality audio certainly expanded as well. When they started to understand more about audio balancing, 
	they expanded their role into balancing the entire audio mix for “Chet Falls in Love”.</p>

<h2>Colorgrading</h2>

<p>Colorgrading is the third portion of the editing pipeline, done either during or more typically after assembly. Colorgrading is led by Michael Losquadro, with various programs 
	being used throughout the series. “Chet Goes to the Doctor” color grading was done entirely in Premiere Pro’s Lumetri Color, a panel that is typically used for minor touchups, 
	at this point it was the only program known to the cast and crew.</p>

<p>Lumetri Color sacrificed a lot of detail while not providing a lot of vibrancy. Along with this, the program was inconsistent, two shots with similar lighting could require entirely 
	separate grades all for the reason that there were no LUTs applied to give the image full depth within the shadows and highlights. Despite this “Chet Goes to the Doctor” still has a 
	solid grade with very consistent colors.</p>

<p>Moving into “Chet Goes to a Party” DaVinci Resolve was brought in to improve the overall grading process, in the beginning while adjusting to the new program, Michael used it in tandem 
	with Lumetri to maintain a good pace and keep up with production. However, as the production continued Michael got more used to the program and had done a majority of the scenes in the 
	episode entirely in DaVinci. This DaVinci usage carried into “Chet Falls in Love” where the entire episode was colorgraded in the program.</p>

<div class="singlepic">
<img src="/images/regrade.png" alt="sample from the chet 1 regrade project that is still in the works, this shot is from the end of episode 1 where Todd talks to Chet about Darth Vader."/>
</div>

<h3>Visual Design and Use of Color</h3>

<p>Since the start color was extremely important within the world of Chet, with the themes of self discovery a lot of characters followed similar color palettes. Seeing how Chet was blue 
	even before production began it was swiftly decided to have all the main cast follow the cool theme, with Jo and Todd wearing analogous colors to Chet.</p>

<p>Within the case of the story blue often represented both the self as they want to be perceived and the comfort of relying on a persona, a set roll one is given, going hand and hand with 
	the sitcom layout of the show. While warm tones were typically reserved for foreign examples of the uncomfortable truth and/or outside forces such as the Phycologist and White Rabbit.</p>

<div class="singlepic">
<img src="/images/colortheorylol.png" alt="Screenshot from Chet Goes to a Party, this scene is when Chet rejects the white rabbit, surrounding himself in blue tones."/>
</div>

<h2>Outsourcing / Collaboration</h2>

<p>Chet is a very collaborative project, with a lot of things not being possible for our crew alone, with this in mind a lot of content is either gathered from the 
	internet or from local talent in the New Paltz area.</p>

<h3>Royalty Free Hunting</h3>

<p>The most common form of outsourcing a lot of our music and sound effects come from these royalty free sites. YouTube and Audio Hero being the most commonly used, with Audio Hero 
	being the source of a majority of the music used, almost all the instrumental tracks such as the intro and outro music are all sourced from Audio Hero, with more specific examples 
	such as the Ave Maria cover from “Chet Goes to a Party” being sourced from royalty free YouTube videos.</p>

<h3>Music Artists</h3>

<p>Starting in “Chet Goes to the Doctor” local indie bands were sourced for music, friends of the crew: The Schwegs had their song “I Can’t Forget” used for the car scene. With the revamped 
	version performed by their new singer being used in “Chet Falls in Love”. “Chet Falls in Love” also featured the band Cenote with their song “Kriegsjahr” being used for Jo’s montage.</p>

<h2>Marketing</h2>
<p>Marketing for “The Chet Show” has always been fairly light with a few notable ad campaigns, always happening around the release of a new episode. These campaigns were typically kept local to the New Paltz area, with the main form of marketing being “poster-bombing” where the cast and crew went around putting up dozens of posters around campus and town to advertise the new episode.</p>
<div class="posters">
  <img src="/images/posters/Chet 1.webp" alt="Chet Goes to the Doctor Poster"/>
  <img src="/images/posters/Chet 2.webp" alt="Chet Goes to a Party Poster"/>
  <img src="/images/posters/Chet 3.webp" alt="Chet Falls in Love Poster"/>
</div>
<h3>Instagram</h3>
<p>Chet’s online presence is localized primarily on Instagram. Aside from the YouTube videos, Instagram is where you’ll find the little blue puppet. The Instagram was initially run by Michael Losquadro for both “Chet Goes to the Doctor” and “Chet Goes to a Party”, however as workloads increased for episode 3, the account was eventually handed off to Krystal McAdams as the social media manager.</p>
<ChetInsta />




    </Container>
</div>

</Layout>

<Footer/>

  <style>
    h1, h2, h3{
    text-align: center;
}

  .Post-Production{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 80px;
    width: 800px;
  }
  h1, h2{
    text-align: center;
  }
  h2, h3{
    font-family: 'Courier', Courier, monospace;
  }

  p, li{
  font-family: 'Courier New', Courier, monospace;
}
    p {
      text-indent: 50px;
      width: 800px;
    }

 @media (max-width: 700px){
  .title{
    margin-top: 20px;
  }}

h2{
        padding-top: 25px;
        padding-bottom: 0px;
      }

h3{
        padding-top: 0px;
        padding-bottom: 0px;
      }
@media (max-width: 800px) {
        p{ 
        width:100%;
      }}
       .posters{

    

    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .posters img{
    width: 240px;
  }

  @media (max-width: 800px) {
    .posters{
      flex-direction: column;
    }
  
  }
  </style>
