---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro"
import HeaderMobile from "@components/HeaderMobile.astro";
---

<Layout title="Home">

  <Header/>
  <HeaderMobile/>

  <Container>
<h1>Pre-Production</h1>
<p>wip write-up: <a href="https://docs.google.com/document/d/1XZD3Ff2y_gBPiktB3UJZC3qkEQI6FDoib-CdCwGC2C8/edit?usp=sharing">Pre-Production Write-Up</a></p>
    </Container>