---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro"
import HeaderMobile from "@components/HeaderMobile.astro";
import HeadTitle from "@components/HeadTitle.astro";
import Footer from "@components/Footer2.astro"; 
---

<Layout title="Pre-Production">

  <Header/>
  <HeaderMobile title="Pre-Production"/>

  <Container>
    <div class="Pre-Production">
<HeadTitle title="Pre-Production"/>
<p>Within the episode to
episode production timeline, Pre-Production generally takes the longest..
Spanning a few months, an episode in pre-production involves two groups,  the
writing team and the prop design team. Writing led by Candice Leach follows an
approach that utilized the unorthodox student-led nature of “The Chet Show”
production. While the prop department led by Michael Losquadro follows a
complementary<b> </b>approach, utilizing the time provided after writing to .</p>

<h2>Writing</h2>

<p>The writing process
for “The Chet Show” is very non-traditional. On a typical sitcom, anywhere from
8-24 episodes are written and produced at the same time. The smaller-scale
student production of Chet means that each episode is written in order, after
the previous one had been released. This has created a much more reactive
writers’ room, where the strengths of the actors and the things that the
audience responds well to can be caught and played with more, almost like a
feedback loop, which would only happen after multiple seasons of a traditional
sitcom. </p>

<p>This is far from the
only thing that separates the writing of Chet from a regular sitcom. The idea
has always been to use the lens and the language of a typical sitcom to tell a
much deeper story about identity and self-actualization. Each episode, then,
needs to follow the structure of a sitcom episode, with each character slotting
conveniently into the role they need to fulfill to push the story along, and
follow Chet’s discomfort with the role he’s supposed to be playing in the show.
</p>

<h2>Storyboards</h2>

<p>            Storyboards, done by Michael
Losquadro, were started after Candice’s script was finished. Storyboards follow
a fairly typical layout and are followed fairly strictly with the production
pipeline. On a few occasions the scenes are started with storyboards, such as
the opening scene of “Chet Goes to the Doctor” and the gas station scene from
“Chet Goes to a Party”</p>

<h2>Prop-Design</h2>

<p>            The prop department consists of a
very small team, with people typically being brought on for very specific
reasons. Led by Michael, majority of the props are handled solo, items like the
darth vader helmet and fake ID from “Chet Goes to a Party” are great examples
of this. While more elaborate items such as the puppet show stage from “Chet
Falls in Love” as well as the puppets themselves typically have 2-3 people
working on them at a time. </p>

<p>            With minimal time devoted to the
Prop-Design segment of the project, a lot of props are produced a day or two
before use on set. While more elaborate props often have overlapping production
periods, where handoffs between prop designers are utilized to create the best
items as fast as possible. A good example of this comes from Chet 3, where the
production of the puppet show stage overlapped with the manufacturing of Chet’s
black hoodie.</p>

<p>Here are a couple of
the most interesting and involve props made throughout the series as well as
those who worked on them:</p>

<p>[Carasoul of Props and the Creators]</p>

<h2>Casting</h2>

<p>            Before “Chet Goes to the Doctor,”
Michael and Candice would pass the role of Chet back-and-forth, coming up with
different voices, and trying to turn this prop into a distinct character. The
first “Chet” project, a series of still photographs for Michael’s class
project, had Candice playing Chet’s roommate. While Candice was writing the version
of the character for “Chet Goes to the Doctor,” she was used to operating the
puppet herself, so she wrote the role for herself, so she could portray the
emotions she wanted the character to portray in the film. She was the main
puppet operator throughout the series, with occasional help from crew members
for the second arm, and Michael lending his body/voice for a shot or a scene
for any number of reasons. </p>

<p>While ‘Chet’ as a
character can be operated by different or multiple people outside the frame of
the camera, live-action human characters <i>usually</i> require the same human
people playing them in almost every shot. After pitching the script for “Chet
Goes to the Doctor” to the college’s film club, Hawk Studios, and getting
access to the film equipment, Michael and Candice hosted auditions for the
human characters, the two with the most commitment required being main
characters ‘Todd’ and ‘Jo.’ Candice would play Chet from under the table, and
Michael would direct the actors from behind the camera, so they could review
the footage and see who had the most believable on-screen chemistry with the
non-human character.</p>

<p>The audition turnout
was relatively small, around half a dozen people read for parts, most of them
being brought by Candice’s friend <b>Gavin DesBois</b>. <b>Mars McInerney</b>,
member of Hawk Studios and familiar with Candice through Gavin’s projects, gave
a stellar performance as Jo. Mars’ years of on-camera performance and
production work in high school made them one of the most experienced people on
the Chet project, despite being by far the youngest. They completely sold Chet
as a real person on camera, and with striking, bright purple hair, they were a
shoe-in. <b>Nicole Earle</b> played the perfect confused straight-man as the
one-off, red-herring ‘Doctor’ character. A few people read for the
‘Psychologist’ role, but <b>Liam Gorelin</b> delivered the lines with the exact
emotional intensity the part was asking for. However, only one person came in
to read for ‘Todd.’ The last audition was another one of Gavin’s friends, <b>Dominic
Cacchione</b>, reading again for the Psychologist. He didn’t fit the role as
well as Liam, but while he was there, Michael and Candice had him read a scene
as Todd so there would be at least one backup. It wasn’t until watching the
footage back and making the final casting decisions that they noticed Dom’s
incredibly natural performance opposite the puppet. When asked, Dom and Mars
both agreed to play their roles in not just “Chet Goes to the Doctor,” but that
they’d keep playing the characters if ‘Chet’ would continue as a series.</p>

<p>After the first
episode, the main ‘Chet’ cast was set. Any side character or extra roles would
usually be offered to people Candice and/or Mike had worked with in the past
instead of scheduling a ‘casting call’ day. As a student-run side project, only
one episode of “The Chet Show” was being produced at a time, and as a
consequence, the team had time to sit with each episode and see what worked and
what didn’t. Dom and Mars became much more involved in the writing process, as
the characters Todd and Jo evolved and changed with what they both brought to
them respectively. </p>

<h1 class="michael">Michael's
Character Design Doc:</h1>

<p>Going back all the way to the first Chet
project, the very first thing I ever had to consider was Chet’s character
design.</p>

<h2>Chet’s
Character Design</h2>

<p>Chet is a very simple little guy, and
since from his conception he was the only puppet in the project I wanted him to
exemplify that simplicity. This decision helped both Chet’s iconography and
also the overall cost of the project. Looking at how the muppets designs their
more humanoid puppets there are 4 main traits that differentiate them from how
I produced the puppet that I feel should be noted:</p>

<ol start=1 type=1>
 <li><b>Hair </b>-
     Right off the bat I did not want Chet to have hair, I felt that
     considering there were no other puppets in my project, him having hair
     would only needlessly complicate the design and overall just feel
     pointless.</li>
 <li><b>“Muppet” eyes </b>-
     I don’t know what else to call this trait, but muppet eyes are very
     specific in how they’re made; produced from a mold the muppet eyes
     resemble more of a dome  than a ball. I attempted to replicate the look
     but due to the low budget I stuck to pingpong balls. Ultimately I like
     this decision more because it provides a more defined silhouette which
     I’ll discuss more later.</li>
 <li><b>Nose/ears </b>-
     I didn’t wanna give Chet a nose or ears as I felt with the weird eyes and
     no hair. I wanted to hit a middle ground between human and creature puppet
     and I felt these traits would compromise that goal.</li>
 <li><b>Fitted Clothes -</b>
     I decided against fitted clothes as I wanted to design Chet after a more
     2000’s clothing aesthetic; baggy tee, blue jeans and skate sneakers.
     Chet’s shirt rather than being a puppet’s shirt or a baby shirt is
     actually a modified boy's small white tee. Typical puppet clothes are very
     fitting, and always look nice, but I felt that wouldn’t fit Chet’s newly
     forming character and would also compromise a unique silhouette.</li>
</ol>


<h3>Puppet
Silhouettes</h3>

<p>When creating characters, silhouettes are
one of the most important aspects to focus on. While I wanted to keep Chet
fairly humanoid, I wanted to avoid the generic human puppet look…</p>


<p>A common issue with generic human puppets
is that their silhouettes tend to be fairly uniform. In this example there are
3 silhouettes all with puppets who are recognizable to almost anyone:</p> 
<img width=625 height=219
src="/images/preproduction/image001.png" alt="Silhouettes of 2 non-recognizable puppets and 1 recognizable puppet"/>

<p>However, I’m guessing most reading this
could only recognize one: Kermit</p>

<img width=625 height=219
src="/images/preproduction/image002.png" alt="The silhouettes revealed, the puppets are Walter from the Muppets movie, Crash from Crash and Bernstien and Kermit the Frog"/>

<p>This distinctive look is something I
wanted to achieve, as most famous monster/creature puppets have a distinctive
look that create a unique silhouette, making them instantly recognizable</p>
<img
width=625 height=164
src="/images/preproduction/image003.png" alt="3 recognizable puppet silhouettes"/>

<div class="sil-chet"
<img width=625 height=164
src="/images/preproduction/image004.png" alt="The recognizable puppets revealed, Elmo, Fozzy Bear, and Miss Piggy"/>

<p>Chet was fairly limited in terms of the
head-shape I could use. Due to my lack of experience I had to use a
free-template to make his head and body (provided by “The Puppet Guy” on
youtube), so all unique features would have to work as silhouette-builders
despite a more generic puppet head and body shape:</p>

<div class="sil-chet-samp">
<img width=257 height=254
src="/images/preproduction/image005.png" alt="Chet Silhouetted"><img width=258 height=255 src="/images/preproduction/image006.png" alt="Chet Un-Silhouetted">
</div>
<p>I feel that the generic headshape overall
helps in his character design, his bulbous elmo-like pingpong ball eyes and
baggy clothes alone create a shape that can make someone think “oh yeah that’s
chet” while remaining in-budget and simple.</p>

<h3>Cuteness and Simplicity: How the Human Brain Recognizes "Cute" Characters (and how to limit
that cuteness)</h3>

<p>When designing an appealing character the
idea of “cuteness” comes to mind, especially with a medium often associated
with such ideas like puppets. So when designing Chet, while I wanted him to
still be a little grungier than the average muppet, I wanted him to still
follow the rules of cuteness to some degree. </p>


<p>It’s common knowledge that when designing
a cute and/or mascot character typically excessive detail should be avoided.
Mickey Mouse is mostly made up of 3 circles. Spongebob is a square in pants,
and Garfield is an orange cat with big eyes. All these characters are iconic
due to their recognizable shape and simple features.</p>


<p>While the idea of simplicity and making
something memorable is fairly common knowledge,  did you know that cuteness,
much like many other traits, can actually be traced back to the human brain and
how we relate these “cute” traits to babies?</p>


<p class="center"><a
href="https://pmc.ncbi.nlm.nih.gov/articles/PMC3260535/">Pub Med Centeral:<br>"Baby Schema in Infant Faces Induces Cuteness Perception and Motivation for Caretaking in Adults"
</a>
</p>


<p>This article goes over the idea of <b>Baby
Schema, a phenomenon</b> in the human brain that attaches the traits of babies
to the idea of cuteness. Big eyes, big lips, button noses, puffy cheeks, and
small bodies with disproportionately large heads. These traits can be attached
to other things humans find cute; dogs, cats, cartoons, and most importantly
for this case, puppets.</p>


<p>With this in mind, Chet would already have
a majority of these traits to make him cute, big eyes, large head on a small
body and big lips/large mouth. Thankfully in my case, removing the nose (a step
I was already considering) would help push Chet towards that perfect
middleground I was hoping for.</p>

<h3>Displaying
Personality Through Clothing</h3>

<p>Endearing yet obnoxious is a trait I
really wanted to apply to Chet on inception, as funny as he may look, I also
wanted him to be slightly unlikable so that if something cartoony such as some
slap stick violence happens to him, you’d laugh rather than feel bad.</p>


<p>To achieve this I decided to make him
dress like a burnout college student, complete with skate shoes, unwashed blue
jeans and an oversized shirt with some sort of logo on it. I ultimately decided
on a RockBand logo, as it reminded me of the show <i>30 Rock</i>'s “How do you do
fellow kids” clip, and that is funny to me.</p>

<div class="fellowkids">
<img width=624 height=323 src="/images/preproduction/image007.jpg" alt='Chet as the old man from the series 30 Rock, he is saying "How do you do fellow kids?"'>
<p>It makes Chet seem inherently punchable
and pretentious. </p>
</div>

<h3>Side
Note: Chet’s Color</h3>

<div class="sil-chet-samp">
<img width=307 height=303 src="/images/preproduction/image009.png"><img width=302 height=327
src="/images/preproduction/image010.jpg">
</div>

<p>Chet’s iconic blue hue was almost purple,
fun fact. I knew I always wanted a cool color for Chet’s skin, as I felt it fit
the character I was making. However after discussing with some friends it was
decided the purple would look similar to Randy Feltface, a comedian who uses a
purple puppet when doing his standup, so light blue was picked instead.</p>


<p>Ultimately I’m glad this change happened,
the color theory of “The Chet Show” is something I’m very happy with and him
being anything other than blue would just feel wrong in that sense. Chet is our
beautiful blue boy, and I wouldn’t have it any other way

<img src="/images/preproduction/image011.png" alt="" class="pchet">
</Container>
</div></Layout>

<Footer/>

<style>
  .michael{
    border-top: 2px solid white
  }

  .Pre-Production{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 80px;
    width: 800px;
  }
  h1, h2, h3{
    text-align: center;
  }
  .sil-chet-samp{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    background-color: #ffffff;
    flex-direction: row;
  }
  .pchet {
      transform: rotate(70deg);
    position: absolute;
    left: 0;
    margin-left: -30px;
    }
    p {
      text-indent: 50px;
      width: 800px;
    }
    .center {
      margin-left: 50px;
      text-indent:0;
    }

    .fellowkids {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 14px;
    }

      @media (max-width: 665px) {
      .sil-chet-samp {
        flex-direction: column;
        max-width:302px;
      }}
      @media (max-width: 800px) {
        p{ 
        width:100%;
      }}

      h2, h3{
        padding-top: 25px;
        padding-bottom: 0px;
      }

</style>